@using Cooking_Service.DAL;
@using Cooking_Service.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Administração";
    var ctx = new ApplicationDbContext();
    var ctxC = new CookingContext();
    ApplicationUser user = ctx.Users.Find(User.Identity.GetUserId());
    User userC = ctxC.Users.Find(User.Identity.GetUserId());
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<main onload="fetchResults('Users', 1, '', true)">
    <br />
    <h1>Administration</h1>
    <h3> Control Center</h3>
    <br /><hr /><br />
    <div class="txt-justify txt-18 card-cont">
        <!--Search bar-->
        <div class="form-group">
            <div><h3 onclick="fetchResults('Users', 1, '', true)" style="cursor: pointer">Users</h3></div>
            <div><input type="text" class="form-control" id="search" placeholder="Search for users..."></div>
            <div><button class="btn btn-outline-primary" onclick="fetchResults('Users', 1, $('#search').val(), false)">Find</button></div>
        </div>
        <table class="t-search" id="users_table">
            <tr>
                <th>User Email</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>User Type</th>
            </tr>
        </table>

    </div>

</main>


<style>

    .form-group {
        display: flex;
        justify-content: left;
        padding-bottom: 10px;
    }

    .form-group div {
        padding-right: 20px;
    }

    .t-search {
        width: 100%;
        border-radius: 5px;
    }

    .t-search tr th, td {
        border-radius: 5px;
        text-align: center;
        border: 1px solid grey;
        background-color: #00000000;
        transition: background-color 0.5s ease-in-out;
    }

    .t-search tr th:hover, td:hover {
        background-color: #00000055;
    }
</style>


<script>

    /*
    * Type: 'User' 'Recipe' 'Other'
    * Page: 1, 2, 3, ...
    * Search: '89S8GAASS7877DAG87' 'John' 'False Information'
    */
    function fetchResults(type, page, search, isOnLoad) {
        if (search == '' && !isOnLoad) {
            return;
        }
        var index = 0;
        // Disable the find button
        $('#find_button').prop('disabled', true);
        $.ajax({
            url: '/Admin/GetResult',
            type: 'GET',
            data: {
                type: type,
                page: page,
                search: search
            },
            success: function (data) {
                console.log(data);
                $('#users_table').empty();
                $('#users_table').append('<tr><th>...</th><th>User Email</th><th>User Name</th><th>Full Name</th><th>User Type</th></tr>');

                if (data.users) {
                    data.users.forEach(user => {
                        index += 1;
                        $('#users_table').append('<tr><td>' + index + '</td><td>' + user.UEmail + '</td><td>' + user.UUserName + '</td><td>' + user.EName + '</td><td>' + user.EType + '</td></tr>');
                    });
                }

                if (data.error) {
                    $('#users_table').append('<tr><td style="color: red;">No Matches Found</td><tr>');
                }
            },
            error: function (error) {
                console.log(error);
            },
            complete: function () {
                // Enable the find button after the response is received
                $('#find_button').prop('disabled', false);
            }
        });
    }


    // Fetch results for the first page of users
    $(document).ready(function () {
        fetchResults('Users', 1, '', true)
    })

</script>