@using Cooking_Service.DAL;
@using Cooking_Service.Models;
@using Microsoft.AspNet.Identity;

<main>
    <br />
    <h1>This is the Administrator Control Center</h1>
    <br />
    <hr />
    <br />
</main>