@{
    ViewBag.Title = "Sobre";
}
<main aria-labelledby="title">
    <br />
    <h1 id="title">@ViewBag.Title</h1>
    <br />
    <h3>Objetivo</h3>
    <p style="font-size: 20px;">
        Este projeto serve para permitir a criação de receitas culinárias, bem como a partilha das mesmas com outros utilizadores.
        Sendo um dos principais problemas de projetos ou aplicações como esta o facto de serem pagas, este projeto permite a criação de receitas de forma gratuita apenas com limites maiores.
    </p>
    <br />
    <br />
    <br />

    <h3>Motivo</h3>
    <p style="font-size: 20px;">
        Um dos principais motivos para a criação deste projeto foi o pedido de um familiar para a criação de algo que permitisse a criação de receitas para guardar sem perder.
        Isso permitiu a que eu desenvolvesse mais ideias que podessem fazer melhorar a experiência do utilizador.
    </p>
    <br />
    <br />
    <br />

    <h3>Desenvolvedor & Programador</h3>
    <p style="font-size: 20px;">
        Este projeto está a ser desenvolvido por apenas uma pessoa, isto pode levar a que surjam problemas não detetados, para isso pesso que sejam reportados quaisquer problemas encontrados.
    </p>
    <br />

</main>