@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <br />
    <h2 id="title">@ViewBag.Title</h2>
    <p></p>
    <h3>@ViewBag.Message</h3>

    <address>
        <br />
        <table>
            <tr>
                <th>
                    <strong>
                        Telemóvel
                    </strong>
                </th>
                <th>
                    <strong>
                        E-mail
                    </strong>

                </th>
            </tr>
            <tr>
                <td>
                    <abbr title="Telemóvel 1 (Probabilidade de Atendimento: 63%)">+351 916 229 753</abbr>
                </td>
                <td>
                    <strong><a href="mailto:22gpsi8@etpsico.pt">Trabalho</a></strong>
                </td>
            </tr>
            <tr>
                <td>
                    <abbr title="Telemóvel 2 (Probabilidade de Atendimento: 24%)">+351 933 763 694</abbr>
                </td>
                <td>
                    <strong><a href="mailto:tiago.laim.rodrigues@gmail.com">Pessoal</a></strong>
                </td>
            </tr>
        </table>
    </address>
    <hr />
    <p>Apenas utilize o e-mail como maneira de comunicação, recorra aos números de telefone apenas se não recebeu resposta por mais de uma semana.</p>
    <p>Se um dos números não funcionar, tente o outro. Em última instância mande mensagem.</p>
</main>