@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <br />
    <h2 id="title">@ViewBag.Title</h2>
    <p></p>
    <h3>@ViewBag.Message</h3>

    <address>
        <br />
        <abbr title="Phone">Telefone: </abbr>
        +351 916 229 753 <br />
        <abbr title="Mobile">Telemóvel:</abbr>
        +351 933 763 694

    </address>
    <hr />
    <p>Apenas utilize o e-mail como maneira de comunicação, recorra aos números de telefone apenas se não recebeu resposta por mais de uma semana.</p>
    <p>Se um dos números não funcionar, tente o outro. Em última instância mande mensagem.</p>

    <address>
        <strong>Aplication:</strong>   <a href="mailto:tiago.laim.rodrigues@gmail.com">> tiago.laim.rodrigues@gmail.com <</a><br />
        <strong>Website: </strong> <a href="mailto:22gpsi8@etpsico.pt">> 22gpsi@etpsico.pt <</a>
    </address>
</main>