@{
    ViewBag.Title = "Home Page";
}

<!-- Import My CSS File -->
<link rel="stylesheet" href="~/MyCSS/styles.css" />

<br />
<h1>Bem-Vindo(a) ao Cooking Service</h1>
<hr />
<main>
    <!-- Com os estilos do Bootstrap, cada Página é constituida por, digamos, 12 espaços do mesmo tamanho. -->
    <!-- Div para mostrar coisas no centro -->
    
    <div class="row">
        <div class="col-md-12">
            <p>Este é um serviço de receitas e listas de compras, onde pode guardar as suas receitas e listas de compras na núvem.</p>
            <p>Este serviço é para todos os tipos de pessoas, desde cozinheiros profissionais a pessoas que estão a começar a cozinhar.</p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">

        <div class="col-md-9">
            <h1>Informações Úteis - Cargos</h1>
            <hr /><br />
            <div class="row txt-18 txt-justify">
                <div class="col-md-3 card-cont">
                    <h2>Utilizador</h2>
                    <br />
                    <p>Caso pretenda ter conta neste serviço para poder guardar as suas receitas e listas de compras na núvem, registe-se para usufruir desses benifícios.</p>
                </div>
                <div class="col-md-5 card-cont">
                    <h2>Cozinheiro</h2>
                    <br />
                    <p>Para ser um chefe de cozinha certificado nos nossos serviços, por favor, preencha este formulário para que lhe possamos dar os previlégios adequados.</p>
                    <p>Um cozinheiro, aqui, é quase como uma celebridade que pode publicar as suas receitas para que todas as outras pessoas possam fazer também.</p>
                </div>
                <div class="col-md-3 card-cont">
                    <h2>Administrador</h2>
                    <p>Um utilizador com este cargo, tem permissões e deveres muito complicados, uma pessoa, para ter este cargo, terá que ter as competências necessárias para o mesmo, como também, tem que ser confiado pelos proprietários dos site.</p>
                </div>
            </div>
        </div>

        <br />
        <!-- Div para mostrar coisas do lado direito -->
        <div class="col-md-3">
            <h1>Dúvidas?</h1>
            <hr />
            <div class="txt-justify txt-18 card-cont">
                <p>Caso tenha dúvidas sobre a aplicação para telemóvel ou acerca deste site, por favor, dirija-se à página 'Ajuda' ou por @Html.ActionLink("aqui", "About", "Home").</p>
                <p>Esta aplicação ainda está a ser desenvolvida, por isso, é normal que tenha problemas frequentes.</p>
            </div>
        </div>
    </div>

    <br />
    
    <div class="txt-18">
        <p>Para mais informações, direja-se à página adequada.</p>
    </div>

</main>