@{
    ViewBag.Title = "Home Page";
}

<div class="info-start">
    <h1>Bem-Vindo(a) ao Cooking Service</h1>
</div>
<br />

<br />
<main>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="niceLink">
            <a href="@Url.Action("Index", "Recipes")">
                Receitas
            </a>
        </div>
    }

    <p><br /><br /><br /></p>
    <!-- Div para mostrar coisas do lado direito -->

    <div class="info-help">
        <div class="niceLink">
            <a href="@Url.Action("About","Home")">
                Dúvidas?
            </a>
        </div>
        <p>Caso tenha dúvidas, por favor, dirija-se a <a href="@Url.Action("About", "Home")">esta página</a>, onde poderá obter as informações que procura.</p>
    </div>
    <div class="spacer"></div>

</main>