@{
    ViewBag.Title = "Home Page";
}

<!-- Import My CSS File -->

<br />
<h1>Bem-Vindo(a) ao Cooking Service</h1>
<hr />
<main>
    <!-- Com os estilos do Bootstrap, cada Página é constituida por, digamos, 12 espaços do mesmo tamanho. -->
    <!-- Div para mostrar coisas no centro -->
    
    <br />
    <h2>Informações dos cargos</h2>
    <br />
    <div class="accordion" id="accordionExample" style="font-size: 20px;">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 20px;">
                    Utilizador
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Caso pretenda ter conta neste serviço para poder guardar as suas receitas e listas de compras na núvem, registe-se para usufruir desses benifícios.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-size: 20px;">
                    Cozinheiro Certificado
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Para ser um chefe de cozinha certificado nos nossos serviços, por favor, preencha este formulário para que lhe possamos dar os previlégios adequados.</p>
                    <p>Um cozinheiro, aqui, é quase como uma celebridade que pode publicar as suas receitas para que todas as outras pessoas possam fazer também.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-size: 20px;">
                    Administradores
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Um utilizador com este cargo, tem permissões e deveres muito complicados, uma pessoa, para ter este cargo, terá que ter as competências necessárias para o mesmo, como também, tem que ser confiado pelos proprietários dos site.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="font-size: 20px;">
                    Staff
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        A staff é um grupo de pessoas que ajudam a manter o site e a aplicação para telemóvel a funcionar corretamente, bem como a ajudar os utilizadores com problemas.
                        São estes que ajudam a prevenir situações de menos conforto para os utilizadores. Como também abuso de problemas no site ou na aplicação.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p><br /><br /><br /></p>
    <!-- Div para mostrar coisas do lado direito -->
    <h2>Dúvidas?</h2>
    <hr /><br />
    <div class="txt-justify txt-18 card-cont">
        <p>Caso tenha dúvidas sobre a aplicação para telemóvel ou acerca deste site, por favor, dirija-se à página 'Ajuda' ou por @Html.ActionLink("aqui", "About", "Home").</p>
        <p>Esta aplicação ainda está a ser desenvolvida, por isso, é normal que tenha problemas frequentes.</p>
    </div>

    <br />
    
    <div class="txt-18">
        <p>Para mais informações, direja-se à página adequada.</p>
    </div>

</main>