@using Microsoft.AspNet.Identity
@using Cooking_Service.Models
@using Cooking_Service.DAL

@{
    var ctx = new ApplicationDbContext();
    ApplicationUser user = ctx.Users.Find(User.Identity.GetUserId());
    var userC = new CookingContext();

    string userName = "No user";

    if (user != null)
    {
        userName = User.Identity.GetUserId();

        if (userC.Users.Find(user.Id) != null)
        {
            userName = userC.Users.Find(user.Id).Name;
        }
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <a class="logout" href="javascript:document.getElementById('logoutForm').submit()">
            Sair
        </a>
            
    }
}