@using Microsoft.AspNet.Identity
@using Cooking_Service.Models
@using Cooking_Service.DAL

@{
    var ctx = new ApplicationDbContext();
    ApplicationUser user = ctx.Users.Find(User.Identity.GetUserId());
    var userC = new CookingContext();

    string userName = "No user";

    if (user != null)
    {
        userName = User.Identity.GetUserId();

        if (userC.Users.Find(user.Id) != null)
        {
            userName = userC.Users.Find(user.Id).Name;
        }
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav navbar-right">
        <li class="custom-nav-link dropdown">
            <a class="lnk-n nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Olá @userName!
            </a>
            <!-- Dropdown options-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("Index", "Manage")">Gerir Conta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
            </div>
            
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="custom-nav-link">@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="lnk-n nav-link" })</li>
        <li class="custom-nav-link">@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="lnk-n nav-link" })</li>
    </ul>
}
