@using Cooking_Service.Models;
@using Cooking_Service.DAL;
@using Microsoft.AspNet.Identity;

@model IEnumerable<Cooking_Service.Models.Recipe>

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Receitas";

    CookingContext db = new CookingContext();

    User _user = new User();
    List<Recipe> recipes = new List<Recipe>();

    ApplicationDbContext ctx = new ApplicationDbContext();
    ApplicationUser user = ctx.Users.Find(User.Identity.GetUserId());
    string userName = "No user";

    if (user != null)
    {
        userName = user.UserName;
        _user = db.Users.Find(User.Identity.GetUserId());
        if (_user != null)
        {
            recipes = db.Recipes.Where(r => r.User.GUID == _user.GUID).ToList();
        }
    }
}


<main>
    <br />
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="my-recipes-tab" data-bs-toggle="tab" href="#myRecipes" role="tab" aria-controls="myRecipes" aria-selected="true">
                        Pessoal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="online-tab" data-bs-toggle="tab" href="#online" role="tab" aria-controls="online" aria-selected="false">
                        Online
                    </a>
                </li>
                <li class="nav-item" title="Para publicar é necessário ter uma conta Premium, dirija-se à página de informações para saber mais.">
                    <a class="nav-link disabled" id="publish-tab" data-bs-toggle="tab" href="#publish" role="tab" aria-controls="publish" aria-disabled="true">
                        Publicar
                    </a>
                </li>
                <li class="nav-item" title="Para receber pedidos é necessário ter uma conta Premium, dirija-se à página de informações para saber mais.">
                    <a class="nav-link disabled" id="requests-tab" data-bs-toggle="tab" href="#pedidos" role="tab" aria-controls="requests" aria-disabled="true">
                        Pedidos
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">

                <!--Parte pessoal fica aqui, ou seja, todas as receitas ficam aqui-->
                <div class="tab-pane fade show active" id="myRecipes" role="tabpanel" aria-labelledby="my-recipes-tab">
                    <h5 class="card-title">As suas receitas aparecem aqui!</h5>
                    <br />
                    <hr />
                    <br />
                    <div>
                        <div class="card text-center">
                            <div class="card-header">
                                Exemplo de receita
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">#1 Cartão de Receita</h5>
                                <p class="card-text">
                                    #2 As suas receitas apareceram aqui, sendo o #1 o Título da receita, o #2 a descrição da receita e o #3 o botão para abrir a receita.
                                    Em baixo de tudo, aparecerá há quanto tempo fez a última mudança.
                                    O cartão de receita terá um indicador de que a receita é favorita ou normal.
                                </p>
                                <!-- Example split danger button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Action</button>
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer text-body-secondary">
                                2 days ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="online" role="tabpanel" aria-labelledby="online-tab">
                    <h5 class="card-title">Aqui aparecem as receitas de todos os utilizadores!</h5>
                </div>

                <div class="tab-pane fade" id="publish" role="tabpanel" aria-labelledby="publish-tab">
                </div>

                <div class="tab-pane fade" id="pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
                </div>
            </div>
        </div>
    </div>

</main>
